@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-orange-50: #fff5f2;
    --color-orange-100: #ffe6dc;
    --color-orange-200: #ffccb8;
    --color-orange-300: #ffb194;
    --color-orange-400: #ff9770;
    --color-orange-500: #ff6e2c;
    --color-orange-600: #ff4d00;
    --color-orange-700: #cc3d00;
    --color-orange-800: #993000;
    --color-orange-900: #662000;
  }
}
